In [1]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv(r"C:\Users\Lenovo\OneDrive\Documents\python\project-11\project-11\udemy_courses.csv")

In [6]:
df

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance
...,...,...,...,...,...,...,...,...,...,...,...,...
3673,775618,Learn jQuery from Scratch - Master of JavaScri...,https://www.udemy.com/easy-jquery-for-beginner...,True,100,1040,14,21,All Levels,2.0,2016-06-14T17:36:46Z,Web Development
3674,1088178,How To Design A WordPress Website With No Codi...,https://www.udemy.com/how-to-make-a-wordpress-...,True,25,306,3,42,Beginner Level,3.5,2017-03-10T22:24:30Z,Web Development
3675,635248,Learn and Build using Polymer,https://www.udemy.com/learn-and-build-using-po...,True,40,513,169,48,All Levels,3.5,2015-12-30T16:41:42Z,Web Development
3676,905096,CSS Animations: Create Amazing Effects on Your...,https://www.udemy.com/css-animations-create-am...,True,50,300,31,38,All Levels,3.0,2016-08-11T19:06:15Z,Web Development
3677,297602,Using MODX CMS to Build Websites: A Beginner's...,https://www.udemy.com/using-modx-cms-to-build-...,True,45,901,36,20,Beginner Level,2.0,2014-09-28T19:51:11Z,Web Development

In [7]:
#1. Display Top 10 Rows of The Dataset 
df.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [8]:
#2. Check Last 5 Rows of The Dataset 
df.tail()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
3673,775618,Learn jQuery from Scratch - Master of JavaScri...,https://www.udemy.com/easy-jquery-for-beginner...,True,100,1040,14,21,All Levels,2.0,2016-06-14T17:36:46Z,Web Development
3674,1088178,How To Design A WordPress Website With No Codi...,https://www.udemy.com/how-to-make-a-wordpress-...,True,25,306,3,42,Beginner Level,3.5,2017-03-10T22:24:30Z,Web Development
3675,635248,Learn and Build using Polymer,https://www.udemy.com/learn-and-build-using-po...,True,40,513,169,48,All Levels,3.5,2015-12-30T16:41:42Z,Web Development
3676,905096,CSS Animations: Create Amazing Effects on Your...,https://www.udemy.com/css-animations-create-am...,True,50,300,31,38,All Levels,3.0,2016-08-11T19:06:15Z,Web Development
3677,297602,Using MODX CMS to Build Websites: A Beginner's...,https://www.udemy.com/using-modx-cms-to-build-...,True,45,901,36,20,Beginner Level,2.0,2014-09-28T19:51:11Z,Web Development

In [11]:
#3. Find Shape of Our Dataset (Number of Rows And Number of Columns) 
df.shape
print("number of row",df.shape[0])
print("number of columns",df.shape[1])

number of row 3678
number of columns 12

In [12]:
#4. Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   int64
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3678 non-null   bool
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   object
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   object
 11  subject              3678 non-null   object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 319.8+ KB

In [21]:
#5. Check Null Values In The Dataset 
df.isnull().sum()

course_id              0
course_title           0
url                    0
is_paid                0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

In [16]:
#6. Check For Duplicate Data and Drop Them 
df.duplicated().any()

np.True_

In [17]:
df.drop_duplicates()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance
...,...,...,...,...,...,...,...,...,...,...,...,...
3673,775618,Learn jQuery from Scratch - Master of JavaScri...,https://www.udemy.com/easy-jquery-for-beginner...,True,100,1040,14,21,All Levels,2.0,2016-06-14T17:36:46Z,Web Development
3674,1088178,How To Design A WordPress Website With No Codi...,https://www.udemy.com/how-to-make-a-wordpress-...,True,25,306,3,42,Beginner Level,3.5,2017-03-10T22:24:30Z,Web Development
3675,635248,Learn and Build using Polymer,https://www.udemy.com/learn-and-build-using-po...,True,40,513,169,48,All Levels,3.5,2015-12-30T16:41:42Z,Web Development
3676,905096,CSS Animations: Create Amazing Effects on Your...,https://www.udemy.com/css-animations-create-am...,True,50,300,31,38,All Levels,3.0,2016-08-11T19:06:15Z,Web Development
3677,297602,Using MODX CMS to Build Websites: A Beginner's...,https://www.udemy.com/using-modx-cms-to-build-...,True,45,901,36,20,Beginner Level,2.0,2014-09-28T19:51:11Z,Web Development

In [18]:
df.shape

(3678, 12)

In [24]:
#7. Find Out Number of Courses Per Subjects 
df['subject'].value_counts

<bound method IndexOpsMixin.value_counts of 0       Business Finance
1       Business Finance
2       Business Finance
3       Business Finance
4       Business Finance
              ...
3673     Web Development
3674     Web Development
3675     Web Development
3676     Web Development
3677     Web Development
Name: subject, Length: 3678, dtype: object>

In [26]:
#8. For Which Levels, Udemy Courses Providing The Courses 
df['level'].unique()

array(['All Levels', 'Intermediate Level', 'Beginner Level',
       'Expert Level'], dtype=object)

In [27]:
#9. Display The Count of Paid and Free Courses 
df.columns

Index(['course_id', 'course_title', 'url', 'is_paid', 'price',
       'num_subscribers', 'num_reviews', 'num_lectures', 'level',
       'content_duration', 'published_timestamp', 'subject'],
      dtype='object')

In [30]:
df['is_paid'].value_counts

<bound method IndexOpsMixin.value_counts of 0       True
1       True
2       True
3       True
4       True
        ...
3673    True
3674    True
3675    True
3676    True
3677    True
Name: is_paid, Length: 3678, dtype: bool>

In [34]:
#10. Which Course Has More Lectures (Free or Paid)? 
df.groupby('is_paid')['num_lectures'].mean()

is_paid
False    21.416129
True     41.829276
Name: num_lectures, dtype: float64

In [35]:
#11. Which Courses Have A Higher Number of Subscribers Free or Paid? 
df.groupby('is_paid')['num_subscribers'].mean()

is_paid
False    11533.951613
True      2429.808492
Name: num_subscribers, dtype: float64

In [43]:
#12. Which Level Has The Highest Number of Subscribers? 
df.groupby('level')['num_subscribers'].sum().sort_values(ascending=False).head(1)

level
All Levels    6915076
Name: num_subscribers, dtype: int64

In [44]:
#13. Find Most Popular Course Title 
df.loc[df['num_subscribers'].idxmax(), 'course_title']

'Learn HTML5 Programming From Scratch'

In [45]:
df.groupby('num_subscribers')['course_title']

In [46]:
#14. Display 10 Most Popular Courses As Per Number of Subscribers 
df[['course_title','num_subscribers']].sort_values(by='num_subscribers',ascending=False).head(10)

                                           course_title  num_subscribers
2827               Learn HTML5 Programming From Scratch           268923
3032                     Coding for Entrepreneurs Basic           161029
3230                         The Web Developer Bootcamp           121584
2783  Build Your First Website in 1 Week with HTML5 ...           120291
3232              The Complete Web Developer Course 2.0           114512
1896              Free Beginner Electric Guitar Lessons           101154
2589  Web Design for Web Developers: Build Beautiful...            98867
2619             Learn Javascript & JQuery From Scratch            84897
3289  Practical PHP: Master the Basics and Code Dyna...            83737
3247          JavaScript: Understanding the Weird Parts            79612

In [54]:
#15. Find The Course Which Is Having The Highest Number of Reviews. 
df[['course_title','num_reviews']].max

<bound method DataFrame.max of                                            course_title  num_reviews
0                    Ultimate Investment Banking Course           23
1     Complete GST Course & Certification - Grow You...          923
2     Financial Modeling for Business Analysts and C...           74
3     Beginner to Pro - Financial Analysis in Excel ...           11
4          How To Maximize Your Profits Trading Options           45
...                                                 ...          ...
3673  Learn jQuery from Scratch - Master of JavaScri...           14
3674  How To Design A WordPress Website With No Codi...            3
3675                      Learn and Build using Polymer          169
3676  CSS Animations: Create Amazing Effects on Your...           31
3677  Using MODX CMS to Build Websites: A Beginner's...           36

[3678 rows x 2 columns]>

In [55]:
df.loc[df['num_reviews'].idxmax(), ['course_title','num_reviews']]

course_title    The Web Developer Bootcamp
num_reviews                          27445
Name: 3230, dtype: object

In [60]:
#16. Does Price Affect the Number of Reviews? 
df['price'].corr(df['num_reviews'])

np.float64(0.11369591938207206)

In [64]:
#17. Find Total Number of Courses Related To Python
df['course_title'].str.contains('python',case=False).sum()

np.int64(29)

In [65]:
# 18. Display 10 Most Popular Python Courses As Per Number of Subscribers 
df[df['course_title'].str.contains('python',case=False)].nlargest(10,'num_subscribers')[['course_title','num_subscribers']]

                                           course_title  num_subscribers
2497                        Web Programming with Python            35267
2570  Coding for Entrepreneurs: Learn Python, Django...            23412
2528        Learn Python and Django: Payment Processing            17714
3200  Python and Django Full Stack Web Developer Boo...            11832
3507  Fun and creative web engineering with Python a...            10917
2553  The Complete Ethical Hacking Course 2.0: Pytho...             7827
3138  Complete Python Web Course: Build 8 Python Web...             7489
3197  Try Django 1.9 | Build a Blog and Learn Python...             7407
2681  Python for Beginners: Python Programming Langu...             6153
3203                    REST APIs with Flask and Python             5151

In [67]:
# 19. In Which Year The Highest Number of Courses Were Posted? 
df['published_timestamp'] = pd.to_datetime(df['published_timestamp'])
df['year'] = df['published_timestamp'].dt.year
df['year'].value_counts().head(1)

year
2016    1206
Name: count, dtype: int64

In [68]:
# 20. Display Category-Wise Count of Posted Subjects [Year Wise]
df.groupby(['year','subject']).size().unstack(fill_value=0)

subject,Business Finance,Graphic Design,Musical Instruments,Web Development
year,,,,
2011,0,0,0,5
2012,6,10,10,19
2013,84,23,39,56
2014,192,66,120,113
2015,339,168,171,336
2016,349,181,228,448
2017,225,155,112,223

In [70]:
df.groupby(['year','subject']).size()

year  subject
2011  Web Development          5
2012  Business Finance         6
      Graphic Design          10
      Musical Instruments     10
      Web Development         19
2013  Business Finance        84
      Graphic Design          23
      Musical Instruments     39
      Web Development         56
2014  Business Finance       192
      Graphic Design          66
      Musical Instruments    120
      Web Development        113
2015  Business Finance       339
      Graphic Design         168
      Musical Instruments    171
      Web Development        336
2016  Business Finance       349
      Graphic Design         181
      Musical Instruments    228
      Web Development        448
2017  Business Finance       225
      Graphic Design         155
      Musical Instruments    112
      Web Development        223
dtype: int64